<!DOCTYPE html>
<html>
    <head>
        <title>Utilitário de Matemática</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h3>Utilitário de Matemática</h3>
        <p><a href="/mmc" title="Cálculo do MMC">Cálculo do MMC</a></p>
        <p><a href="/mdc" title="Cálculo do MDC">Cálculo do MDC</a></p>
        <p><a href="/produto" title="Cálculo do Produto">Cálculo do Produto</a></p>
        <p><a href="/raioCirculo" title="Cálculo da Área de um Circulo">Cálculo da Área de um Circulo</a></p>
        <p><a href="/potencia" title="Cálculo da Potência de um número">Cálculo da Potência de um número</a></p>
        <p><a href="/verificarCasasDecimais" title="Verificar se tem casas decimais">Verificar se tem casas decimais</a></p>
        <p><a href="/verificarSeEhPar" title="Verificar se o número é par">Verificar se o número é par</a></p>
        <p><a href="/verificarQtdNumerosPares" title="Verificar qtd. de números pares">Verificar qtd. de números pares</a></p>
        <p><a href="/verificarSeExisteNumerosIguais" title="Verificar se existe números iguais">Verificar se existe números iguais</a></p>
        <p><a href="/verificarSeEhMaiorQueOutro" title="Verificar se um número é maior que outro">Verificar se um número é maior que outro</a></p>
    </body>
</html>
