<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verificar se o número é par</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Verificar se o número é par</h3>
    <form action="verificarSeNumeralEhPar" method="POST">
        <label>Numero</label>
        <input type="text" name="numero" />
        <br />
        <input type="submit" value="Calcular" />
    </form>
    
    <p th:if="${resultado}" th:text="'Resultado: ' + ${resultado}" />
    
    <a href="/" title="Voltar">Voltar</a>
</body>
</html>